html {
  margin: 0px;
}


header {
  background: #2d1f36;
  border-bottom: 5px solid #aaa;
  color: #f442e8;
  height: 60px;
  left: 0;
  margin: 0;
  padding: 10px;
  position: fixed;
  transition-duration: 1s;
  top: 0;
  width: 100%;
  z-index: 100;

}

footer {
  background: #1c1322;
  border-top: 5px solid #333;
    color: #B0ABB4;
  height: 100px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  bottom: -100px;
  text-align: center;
  transition-duration: 1s;
  width: 100%;
  z-index: 2;
}



.dropdown {
  cursor: help;
}

.dropdown strong {
  font-weight: bold !important;
}

.dropdown:hover #dropdown-label {
  opacity: 0;
}

.dropdown * {
  transition-duration: 500ms;
  opacity: 1;
}

.dropdown.hidden * {
  opacity: 0;
}

.dropdown ul {
  font-size: 0.75em;
  padding: 0;
  list-style: none;
  position: fixed;
  top: 0;
  left: -20;
  z-index: 100;

}

.dropdown ul li {
  display: inline-block;
  background-color: #aaa;
}

.dropdown span {
  display: inline-block;
  padding: 0 10px;
  color: #FFF;
  line-height: 60px;
  text-decoration: none;
}

.dropdown:hover * {
  color: #2d1f36;
  background-color: #F5CDFF;
}

.dropdown:hover > * {
  border-top: 4px solid #aaa;
}

/* Hide Dropdowns by Default */
.dropdown ul ul {
  border-bottom: 6px solid #aaa;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  /* the height of the main nav */
}

/* Display Dropdowns on Hover */
.dropdown ul li:hover > ul {
  display: inherit
}

/* First Tier Dropdown */
.dropdown ul ul li {
  font-size: 1.3em;
  font-weight: 300;
  align-content: space-around;
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100vw;
  padding: 0px;
  float: none;
  display: list-item;
  position: relative;

}

.dropdown ul ul li span:first-child {
  font-size: 1.25em;
  width: 200px;
}

/* Second, Third and more Tiers	*/
.dropdown ul ul ul li {
  position: relative;
  top: 0px;
  left: 140px;
}

.intro {
  position: absolute;
  height: calc(2000px + 100vh);
}

.intro h1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 6em;
  height: 100vh;
}

#restart {
  background: none;
  border: none;
  color: #f442e8;
  font-size: 2.5em;
  position: fixed;
  top: 5px;
  right: 10px;
}

#restart:hover {
  color: #f5cdff;
}

#restart:focus {
  outline: 2px solid #f442e8;
}

.container {
  margin: auto;
  width: 50%;
}

.hidden {
  opacity: 0;
}

.gone {
  display: none;
}

body {
  background: black;
  color: white;
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica, Arial,
    "Lucida Grande",
    sans-serif;
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-family: 'Scope One', sans-serif;
  margin: 0;
  font-size: 30pt;
  font-weight: 800;
  word-spacing: 6pt;
  letter-spacing: 3pt;
  text-transform: uppercase;
}

.down-arrow {
  display: block;
  color: #f442e8;
  text-align: center;
  transition-duration: 3s;
  font-size: 90px;
  opacity: 0;
  width: 100%;
}

article {
  position: relative;
  width: 95%;
  left: 5%;
  margin-top: 100px;
  overflow: hidden;
}

button,
a {
  cursor: pointer;
}

a,
a:active,
a:visited {
  color: #F5CDFF;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #f442e8;
  color: #f442e8;
}

article > div {
  /*  border: 1px dashed gray;*/
}

#mapcontrols {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  left: calc(1% + 50px);
  transform: translate(0, 55px);
  width: 700px;
  z-index: 1;

}

#mapcontrols button {
  background: #2d1f36;
  border: 2px solid #aaa;
  border-radius: 0.5em;
  color: white;
  font-size: 0.75em;
  flex: 1 1 0;
  margin: 0 2.5px;
  max-width: 90px;
  padding: 5px;
  transition-duration: 1s;
}

#mapcontrols button:hover {
  background: #625768;
  color: #F5CDFF;
}

#mapcontrols button:active {
  background: #F5CDFF;
  box-shadow: 2px 2px 2px #aaa inset;
  color: white;
}

#mapcontrols button:focus {
  outline: 1px solid #F5CDFF;
}



#mapcontrols button.picked {
  background: #F5CDFF;
  box-shadow: 3px 3px 3px #333;
  color: #2d1f36;
  font-weight: bold;
}

#maparea {
  position: fixed;
  left: 1%;
  height: 500px;
  transform: translate(0, 50px);
  width: 800px;
}

#bump-chart {
  overflow: hidden;
  position: relative;
  margin: 10px 30px 0 0;
  float: right;
}

#aggregationSwitch {
  border: 2px solid #aaa;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
  width: 200px;
}

#aggregationSwitch:hover {
  background: black;
  color: #F5CDFF;
  border-color: #F5CDFF;

}

#aggregationSwitch:active {
  background: #F5CDFF;
  color: black;
  border-color: #F5CDFF;

}

#tooltip {
  font-size: 7pt;
  padding: 0 !important;
  height: 80px;
  width: 100px;
  word-break: break-all;
  white-space: normal;
}

#tooltip #content {
  margin: 0 !important;
  padding: 10px !important;
  height: 60px;
  width: 100px;
}

#content p {
  font-weight: bold;
}

#tooltip.upsideDown .leaflet-popup-tip-container {
  top: -20px;
  transform: rotate(180deg);
}

#bump-chart svg {
  margin-top: 20px;
}

#hello {
  position: absolute;
  top: 500px;
}

/* Styling the Axes */

.axis path {
  display: none;
}

.axis text {
  font-weight: bold;
}

.x.axis text,
.x2.axis text {
  font-size: 10pt;
}


.tick line {
  stroke: #444;
}


/* Bump Chart Styling */
svg {
  shape-rendering: geometricPrecision;
}

text {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica, Arial,
    "Lucida Grande",
    sans-serif;
  /*  fill: white;*/
  font-weight: bold;
  font-size: 6pt;
  text-transform: uppercase;
}

text.emphasized {
  font-size: 8pt;
  font-weight: bold;
}


.rank,
.label,
.point {
  cursor: pointer;
  pointer-events: all;
}




path.rank {
  opacity: 0.3;
  stroke-width: 3;
}

path.rank.hover,
path.rank.activated {
  opacity: 1;
  z-index: 1000;
}

text.label.hover {
  fill: #F5CDFF;
}

text.label.hover,
text.label.activated {
  font-weight: bold;
}

circle.point.hover,
circle.point.activated {

  z-index: 10001;
}

circle.point.activated {
  transition-duration: 200ms;
}


/* Map Styling */

[class^='leaflet-popup'],
[class^='leaflet-popup'] * {
  pointer-events: none !important;
}

[class^='leaflet-popup'] {
  opacity: .9;
}

.leaflet-popup-tip-container {
  opacity: 1;
}

a.leaflet-popup-close-button {
  display: none;
}


.leaflet-popup-content * {
  margin: 0 !important;
}

.leaflet-popup-content h4 {
  margin-right: 15px !important;
}

.leaflet-popup-content {
  min-width: 125px;
  margin: 13px 19px 7px 19px !important;
}

.flag-container {
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-radius: 50%;
  display: inline-flex;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  right: 5px;


}

.leaflet-popup-content img {
  position: relative;
  height: 20px;
  /*  height: 30px; */
  /*  clip: rect();*/
  /*  clip-path: circle(20px at center);*/
}


span.popup-value {
  color: #8f67a8;
  font-weight: bold;
}

.leaflet-control-zoom a {
  background: #333 !important;
  border: 1px solid #888;
  color: #8f67a8 !important;
}

.leaflet-control-zoom a:hover {
  color: #F5CDFF !important;
}

#legend text {
  font-size: 1em;
  fill: white;
  text-transform: capitalize;
  letter-spacing: 0.1em;

}

@media only screen and (max-width: 1250px) {
  #maparea {
    width: calc(90% - 350px);
  }

  #mapcontrols {
    width: calc(90% - 450px);
  }

  #bump-chart {
    margin-right: 0;
  }

  #mapcontrols {
    font-size: 10pt;
  }

  header:not(.intro) {
    font-size: 0.75em;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 900px) {
  #maparea {
    width: calc(90% - 250px);
  }

  #mapcontrols {
    width: calc(90% - 300px);
  }

  #legend text {
    font-size: 0.7em;
  }

  #mapcontrols {
    font-size: 6pt;
    flex-flow: row wrap;
  }

  .dropdown ul ul li {
    flex-flow: column nowrap;
  }

  .x.axis text {
    font-size: 5pt;
  }

}
